/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    /* height: calc(100vh - 100px); */
    /* width: min-content; */
    
}

.container{
    justify-content: center;
}

.header-top{
    height: 50px;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}

.speaker-view{
    align-items: center;
    height: 30px;
    margin-right: 10px;
    background-color: #4A4A4A;
}

.fa-expand-arrows-alt{
  background-color: #4A4A4A;
}

.box-img-text{
    height: 200px;
    width: 350px;
    border: 5px solid black;
    background-image: url(https://picsum.photos/350/200);
}

.box-text{
    align-self: flex-end;
}


/* footer  */

footer{
    width: 100%;
    background-color: #000;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    justify-content: space-between;
}

.left-nav{
    height: 100%;
}

.mid-nav{
    height: 100%;

}

.funzione{
    justify-content: space-around;
    align-items:  center;

}

.funzione i:hover{ 
color: rgb(248, 177, 44);
}

.funzione i{ 
    cursor: pointer;
    }
    

.chevron{
    align-items: center;
    font-size: 16px;
}

.end-meeting{
    background-color: #4A4A4A;
}

.green-arrow{
    color: #4BC800;
}